* {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(61, 21, 21);
}
h1 {
    font-size: 40px;
    font-weight: 450;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 8px;
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-size: 1.5em;
    font-weight: 450;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 5px;
    font-family: 'Raleway', sans-serif;
}
p {
    font-size: 1em;
    text-align: center;
    padding-bottom: 5px;
}
html {
    background-color:rgb(203, 175, 154);
}
header {
    position: fixed;
    height: 150px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(116, 92, 92);
    padding: 5px 0;
    text-align: center;
}
body {
    margin: 100px 0;
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
}
section {
    margin: 20px;
}
footer {
    position: fixed;
    height: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(116, 92, 92);
    text-align: center;
}
footer, footer p, footer nav, footer a, footer li {
    font-family: 'Josefin Sans', sans-serif;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 92, 92);
    padding: 10px 0;
}
button {
    padding: 20px 20px;
    font-size: 18px;
    background-color: rgb(108, 94, 67);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}
button:hover { /* Pseudo-class for hover effect */
    background-color: rgb(116, 92, 92);
    transform: scale(1.05);
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item {
    background-color: #f1d4d4;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
    text-align: center;
}

#copyright {
    font-size: 10px;
    color: white;
    margin-bottom: 7px;
}

@media (max-width: 900px) {
    .disappearing {
        display: none;
    }
    .mobileFeature {
        display: block;
    }
}
@media (min-width: 901px) {
    .disappearing {
        display: block;
    }
    .mobileFeature {
        display: none;
    }
}
