/* sketch a wireframe for 2 minutes
the header and footer needs to have a fixed position.
the nav must be a flex container
beyond this use flexbox or grid to create an awesome design. Have fun!
Make a breakpoint somewhere between 500-900px. Work in common.css so it applies to both
Make an element with a class attribute of disappearing that is only displayed above the breakpoint.
Make an element with a class attribute of mobileFeature that is only displayed below the breakpoint.
Remake the about page main content to use a grid, but you can choose your own wireframe design!
*/

html {
    background-color:rgb(203, 175, 154);
    font-family: "Open Sans", sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(116, 92, 92);
    color: white;
    padding: 10px 0;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(116, 92, 92);
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 92, 92);
    padding: 10px 0;
}

h1,
li {
    color: rgb(61, 21, 21);
}
#hero {
    width: 100%;
    height: 30vh;
    background-color: rgb(116, 92, 92);;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#whyUs {
    width: 40%;
    margin: auto;
    padding: 20px;
    background-color: #f1d4d4;
    border-radius: 10px;
}
#callToAction {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    background-color: #afab9c;
    border-radius: 10px;
}
#callToAction button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(108, 94, 67);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
@media (max-width: 800px) {
    #whyUs, #callToAction {
        width: 100%;
    }
}